
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h1
{
	border-radius: 10px;
	width: 240px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	font-size:20px;
	color: black;	
}

.background 
{
    background-image: url("avenger_bg.jpg");
    background-size: cover;
    background-position: center;
}

#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}